@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Montserrat-Bold.ttf") format("ttf");
  font-display: swap;
}
.button {
  text-decoration: none;
  color: white;
  width: 135px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7859C;
  border-radius: 12px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #f56d89;
}

.button:active {
  background-color: #f99daf;
  color: #e6e6e6;
}

.page-header {
  display: flex;
}
@media (max-width: 390px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }
}

.page-header__menu {
  margin-left: auto;
}
@media (max-width: 390px) {
  .page-header__menu {
    margin-left: 0;
    width: 100%;
  }
}

.page-header__button {
  justify-self: flex-end;
  margin-left: 30px;
}
@media (max-width: 390px) {
  .page-header__button {
    display: none;
  }
}

@media (max-width: 390px) {
  .page-header__logo {
    align-self: flex-start;
    padding-left: 20px;
  }
}

.page-header__toggle {
  border: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 391px) {
  .page-header__toggle {
    display: none;
  }
}

.header-toggle--closed {
  content: "";
  position: relative;
  bottom: 50px;
  right: -140px;
  width: 32px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  z-index: 4;
}

.header-toggle--open::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 30px;
  width: 32px;
  height: 2px;
  background-color: #000;
  transform: rotate(-45deg);
}

.header-toggle--open::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 30px;
  width: 32px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  box-shadow: none;
}

.page {
  position: relative;
  width: 1440px;
}
@media (max-width: 390px) {
  .page {
    width: 390px;
  }
}

.page__header {
  padding: 18px 64px;
  margin: 0;
}
@media (max-width: 390px) {
  .page__header {
    padding: 18px 0;
  }
}

.page__promo {
  margin-bottom: 120px;
}
@media (max-width: 390px) {
  .page__promo {
    margin-bottom: 20px;
  }
}

.page__about {
  margin-bottom: 130px;
}
@media (max-width: 390px) {
  .page__about {
    margin-bottom: 30px;
  }
}

.page__exclusive {
  margin-bottom: 145px;
  background-color: #FBF1E6;
  padding-bottom: 100px;
  padding-top: 100px;
}
@media (max-width: 390px) {
  .page__exclusive {
    margin-bottom: 30px;
    padding-top: 50px;
  }
}

.page__exclusive::before {
  content: " ";
  display: inline-block;
  background-image: url(../img/exclusive-top-wave.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  height: 110px;
  width: 100%;
  position: relative;
  top: -150px;
}

@media (max-width: 390px) {
  .page__exclusive::before {
    content: " ";
    display: inline-block;
    background-image: url(../img/exclusive-top-wave.svg);
    background-repeat: no-repeat;
    height: 130px;
    width: 100%;
    position: relative;
    top: -130px;
  }
}
.page__exclusive::after {
  content: " ";
  display: inline-block;
  background-image: url(../img/exclusive-bottom-wave.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  height: 130px;
  width: 100%;
  position: relative;
  top: 105px;
}

.page__roadmap {
  margin-bottom: 200px;
}

.page__team {
  margin-bottom: 150px;
  background-color: #FDDBE2;
  padding: 50px 0;
  box-sizing: border-box;
}

.page__team::before {
  content: " ";
  display: inline-block;
  background-image: url(../img/team-top-wave.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  height: 110px;
  width: 100%;
  position: relative;
  top: -100px;
}

.page__team::after {
  content: " ";
  display: inline-block;
  background-image: url(../img/team-bottom-wave.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  height: 110px;
  width: 100%;
  position: relative;
  top: 95px;
}

.page__faq {
  margin-bottom: 150px;
}

.page__footer {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: #D3D4ED;
  position: relative;
}

.page__footer::before {
  content: " ";
  display: inline-block;
  background-image: url(../img/footer-wave.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  height: 100px;
  width: 100%;
  position: absolute;
  top: -100px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media (max-width: 390px) {
  .menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 0;
    border-bottom: 1px solid lightgray;
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 100px;
  }
}

.menu--closed {
  display: none;
}

@media (min-width: 391px) {
  .menu--closed {
    display: flex;
  }
}
.menu__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: black;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  margin: 0;
}
@media (max-width: 390px) {
  .menu__item {
    padding: 10px 0;
    border-top: 1px solid lightgrey;
  }
}

.menu__item:last-of-type {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.menu__link:active {
  color: gray;
}

.menu__item:hover, .menu__item:focus {
  border-bottom: 2px solid #F7859C;
}

.promo {
  min-height: 800px;
  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -30px 0%;
  padding-top: 90px;
}
@media (max-width: 390px) {
  .promo {
    min-height: auto;
    background-size: 250%;
    background-position: -180px 150px;
    padding-bottom: 150px;
    padding-top: 50px;
  }
}

.promo__content {
  display: block;
  width: 550px;
  min-height: 384px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 390px) {
  .promo__content {
    width: auto;
    min-height: auto;
  }
}

.promo__title {
  padding: 0;
  margin: 0;
}

.promo__subtitle {
  padding: 20px 0 0;
  margin: 0;
  background-image: url("../img/peach-dot.png");
  background-repeat: no-repeat;
  background-position: 38% 10%;
}

.promo__main-text {
  padding: 30px 60px;
  margin: 15px 0 0;
}

.promo__button {
  margin: 0 auto;
}

.about__content {
  display: block;
  text-align: center;
  position: relative;
  width: 1100px;
}
@media (max-width: 390px) {
  .about__content {
    padding: 30px;
    width: auto;
  }
}

.about__title {
  padding: 0;
  margin: 0;
}

.about__subtitle {
  padding: 10px 0 15px;
  margin: 5px;
  position: relative;
  background-image: url("../img/peach-dot.png");
  background-repeat: no-repeat;
  background-position: 46% 0%;
}

.about__grid {
  margin-top: 76px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 390px) {
  .about__grid {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}

.about-list {
  text-align: left;
  padding-right: 150px;
}
@media (max-width: 390px) {
  .about-list {
    padding-right: 0px;
  }
}

.about-list__item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.87;
  padding: 28px 0 17px;
  margin: 0;
}
@media (max-width: 390px) {
  .about-list__item {
    font-size: 20px;
    line-height: 0.9;
  }
}

.about-list__item--bordered {
  border-top: 1px solid rgba(64, 71, 86, 0.6);
}

.about-list__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  padding: 0 0 30px;
  margin: 0;
}
@media (max-width: 390px) {
  .about-list__description {
    font-size: 16px;
    line-height: 1.12;
  }
}

@media (max-width: 390px) {
  .about__img {
    object-fit: contain;
    width: 280px;
    height: min-content;
  }
}

.excusive__subtitle {
  padding: 15px;
  background-image: url(../img/orange-dot.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 60px;
}
@media (max-width: 390px) {
  .excusive__subtitle {
    margin: 0 auto;
  }
}

.exclusive__title {
  padding: 0;
  margin: 0 0 68px 0;
}

.exclusive__content {
  width: 1100px;
}
@media (max-width: 390px) {
  .exclusive__content {
    text-align: center;
    width: 390px;
  }
}

.exclusive-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.exclusive-list__subtitile {
  display: block;
}

.exclusive-list__img {
  margin: 0 10px;
}

.exclusive-list__text {
  width: 400px;
}
@media (max-width: 390px) {
  .exclusive-list__text {
    width: auto;
    padding: 15px 30px;
  }
}

.exclusive-list__item {
  width: auto;
  min-height: 640px;
  border-top: 1px solid rgba(223, 143, 51, 0.3);
}
@media (max-width: 390px) {
  .exclusive-list__item {
    text-align: center;
    min-height: fit-content;
  }
}

.exclusive-list__item:last-child {
  border-bottom: 1px solid rgba(223, 143, 51, 0.3);
}

.exclusive-list__item--1 {
  background-image: url(../img/common-man.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.exclusive-list__item--2 {
  background-image: url(../img/uncommon-man.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.exclusive-list__item--3 {
  background-image: url(../img/rare-man.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.exclusive-list__item--4 {
  background-image: url(../img/legendary-man.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

@media (max-width: 390px) {
  .exclusive-list__item--1 {
    background-image: none;
  }
  .exclusive-list__item--2 {
    background-image: none;
  }
  .exclusive-list__item--3 {
    background-image: none;
  }
  .exclusive-list__item--4 {
    background-image: none;
  }
}
.roadmap__content {
  width: 1100px;
  position: relative;
}
@media (max-width: 390px) {
  .roadmap__content {
    width: 100%;
  }
}

.roadmap__subtitle {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  background-image: url("../img/pink-dot.png");
  background-repeat: no-repeat;
  background-position: 47% 10%;
}

.roadmap__title {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 68px;
  text-align: center;
}

.roadmap-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}
@media (max-width: 390px) {
  .roadmap-list {
    gap: 30px;
  }
}

.roadmap-list::before {
  content: "";
  display: block;
  background-image: url("../img/roadmap-dots.png");
  position: absolute;
  right: 220px;
  top: 10px;
  width: 200px;
  height: 150px;
  z-index: 1;
}
@media (max-width: 390px) {
  .roadmap-list::before {
    z-index: -1;
  }
}

.roadmap__item {
  background-image: url("../img/roadmap-spot.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 533px;
  min-height: 477px;
  box-sizing: border-box;
  padding: 124px 85px;
  position: relative;
}
@media (max-width: 390px) {
  .roadmap__item {
    min-width: auto;
    max-width: 300px;
    max-height: 400px;
    min-height: auto;
    padding: 40px 40px 50px 50px;
  }
}

.roadmap__item--illusrtated-1::before {
  content: "";
  display: block;
  width: 185px;
  height: 423px;
  background-image: url("../img/roadmap-1st-person.png");
  background-repeat: no-repeat;
  position: absolute;
  right: -250px;
  bottom: 10px;
}

.roadmap__item--illusrtated-2::before {
  content: "";
  display: block;
  width: 346px;
  height: 470px;
  background-image: url(../img/roadmap-2nd-person.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -360px;
  bottom: -60px;
}

.roadmap-list__text {
  max-width: 360px;
  color: #404756;
}

.roadmap-list__title {
  padding: 0;
  margin: 0;
}

.roadmap-list__subtitile {
  padding: 0;
  margin: 0 0 10px;
}

.roadmap-list__percent {
  display: block;
  position: absolute;
  left: -236px;
  margin: 10px;
  color: #F7859C;
}

.roadmap-list__percent::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 36px;
  background-image: url("../img/pink-dot.png");
  background-repeat: no-repeat;
  left: -50px;
  top: -10px;
}

.team__content {
  width: 100%;
  text-align: center;
}
@media (max-width: 390px) {
  .team__content {
    width: 100%;
  }
}

.team__subtitle {
  padding: 15px 0;
  margin: 0;
  background-image: url("../img/pink-dot.png");
  background-repeat: no-repeat;
  background-position: 48% 10%;
}

.team__title {
  padding: 0;
  margin: 0 0 45px;
}

.team-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  row-gap: 90px;
}
@media (max-width: 390px) {
  .team-list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.team-list__item {
  text-align: center;
  padding: 0 40px;
}

.team-item__picture {
  width: auto;
  height: auto;
}
@media (max-width: 390px) {
  .team-item__picture {
    width: auto;
    height: auto;
  }
}

.team-item__job-title, p {
  padding: 0;
  margin: 20px 0x;
}

.team-item__name {
  padding: 0;
  margin: 0;
}

.faq {
  position: relative;
}

.faq__content {
  width: 1000px;
}
@media (max-width: 390px) {
  .faq__content {
    width: 390px;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1;
  }
}

.faq__content::before {
  content: "";
  background-image: url("../img/faq-dots.png");
  background-repeat: no-repeat;
  display: block;
  width: 300px;
  height: 325px;
  position: absolute;
  left: -20px;
  top: -80px;
}
@media (max-width: 390px) {
  .faq__content::before {
    z-index: -1;
  }
}

.faq__subtitle {
  text-align: center;
  padding: 15px 0;
  margin: 0;
  background-image: url("../img/blue-dot.png");
  background-repeat: no-repeat;
  background-position: 49% 10%;
}

.faq__title {
  text-align: center;
  padding: 0;
  margin: 0 0 67px;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid grey;
  font-size: 24px;
  line-height: 0.9;
}
@media (max-width: 390px) {
  .faq__question {
    font-size: 18px;
    line-height: 0.88;
  }
}

.faq__list {
  border-bottom: 1px solid grey;
}

.faq__toggle--closed {
  display: inline-block;
  width: 37px;
  height: 17px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  left: 47%;
  top: 50%;
}

.faq__toggle--open {
  display: inline-block;
  width: 37px;
  height: 17px;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  left: 47%;
  top: 50%;
}

.faq__answer--closed {
  display: none;
}

.faq__answer--open {
  padding: 30px;
  font-size: 24px;
  line-height: 30px;
  color: grey;
}
@media (max-width: 390px) {
  .faq__answer--open {
    font-size: 14px;
    line-height: 1;
    padding: 10px;
    margin: 0;
  }
}

.footer__content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 800px 200px;
  grid-template-rows: 76px 200px 50px;
  grid-template-areas: "title navtitle" "socials navig" "madeby madeby";
}
@media (max-width: 390px) {
  .footer__content {
    width: 370px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  .navigation {
    display: none;
  }
}
.footer__content::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 220px;
  background-image: url("../img/footer-dots.png");
  left: -160px;
  bottom: 240px;
}

.footer__title {
  grid-area: title;
  margin: 0;
  padding: 0 0 16px;
  border-bottom: 1px solid black;
}

.navigation__title {
  grid-area: navtitle;
  margin: 33px 0 0;
  padding: 0 0 16px;
  border-bottom: 1px solid black;
  background-image: url("../img/blue-dot.png");
  background-repeat: no-repeat;
  background-position: 49% 10%;
}

.socials__list {
  grid-area: socials;
  list-style: none;
  margin: 11px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 390px) {
  .socials__list {
    flex-direction: column;
  }
}

.socials-list__item {
  margin-right: 30px;
}
@media (max-width: 390px) {
  .socials-list__item {
    padding: 20px;
    font-size: 20px;
  }
}

.socials-list__link {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.socials-list__link:hover, .socials-list__link:focus, .navigation__link:hover, .navigation__link:focus {
  color: grey;
}

.navigation__link:active, .socials-list__link:active {
  color: #cdcdcd;
}

.navigation__list {
  grid-area: navig;
  margin-top: 11px;
  padding: 0;
  list-style: none;
}

.navigation__item {
  margin-bottom: 11px;
}

.navigation__link {
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  color: black;
}

.footer__authors {
  display: flex;
  flex-direction: row;
  grid-area: madeby;
  border-top: 1px solid black;
}

.footer__authors p {
  margin-right: 40px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 390px) {
  body {
    font-size: 14px;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.12;
}
@media (max-width: 390px) {
  .title {
    font-size: 40px;
    line-height: 0.88;
  }
}

.secondary-title, h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 0.71;
}
@media (max-width: 390px) {
  .secondary-title, h2 {
    font-size: 22px;
    line-height: 0.71;
  }
}

.third-title, h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
}
@media (max-width: 390px) {
  .third-title, h3 {
    font-size: 18px;
    line-height: 1;
  }
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.72;
}
@media (max-width: 390px) {
  .subtitle {
    font-size: 14px;
  }
}

.main-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 390px) {
  .main-text {
    font-size: 16px;
    line-height: 0.88;
  }
}

/* main styles */
html {
  background-color: #f4f4f4;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
