$mobile-width: 390px;

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Montserrat-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Montserrat-Bold.ttf") format("ttf");
    font-display: swap;
}
