.faq__content {
    width: 1100px;
}

.faq__subtitle {
    text-align: center;
    padding: 0;
    margin: 0;
}

.faq__title {
    text-align: center;
    padding: 0;
    margin: 0 0 67px;
}

.faq__question {
    padding: 30px 0;
    border-top: 1px solid black;
    
    font-size: 24px;
    line-height: 22px;
}

.faq__answer {
    display: none;
}

dt.faq__question:last-of-type {
    border-bottom: 1px solid black;
}

