@mixin bold-font {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;


    @media (max-width:320px) {
        flex-direction: column;
        text-align: center;
        width: 100%;
        gap:0;
        border-bottom: 1px solid lightgray;

        z-index: 2;
        background-color: white;
        position: absolute;
        top: 100px;
    }

}

.menu--closed {
    display: none;
}

.menu__item {
    @include bold-font;
    font-size: 18px;
    line-height: 25px;
    
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 0;

    @media (max-width: 320px) {
        padding: 10px 0;
        border-top: 1px solid lightgrey;
        
    }
}

.menu__item:last-of-type {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__link {
    text-decoration: none;
}

