$mobile-width: 390px;
$mobile-width-wide: 391px;

.page-header {
    display: flex;

    @media (max-width: $mobile-width) {
        flex-direction: column;
        align-items: center;
}

}

.page-header__menu {
    margin-left: auto;

    @media (max-width: $mobile-width) {
        margin-left: 0;
        width: 100%;
}
}

.page-header__button {
    justify-self: flex-end;
    margin-left: 30px;

    @media (max-width: $mobile-width) {
        display: none;
    }

}

.page-header__logo {
    @media (max-width: $mobile-width) {
        align-self: flex-start;
        padding-left: 20px;
    }
}

.page-header__toggle {
    @media (min-width: $mobile-width-wide) {
        display: none;
    }
}

.header-toggle--closed {
    content: "";
    position: relative;
    bottom: 50px;
    right: -140px;
    width: 32px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
    z-index: 4;
}

.header-toggle--open::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 30px;
    width: 32px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
}

.header-toggle--open::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 30px;
    width: 32px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    box-shadow: none;
}



