.promo {
    min-height: 800px;
    background-image: url(../img/promo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -30px 0%;
    padding-top: 90px;

    @media (max-width:320px) {
        min-height: auto;
        background-size: 300%;
        background-position: -180px 50px;
        padding: 40px 0;
    
    }
}


.promo__content {
    display: block;
    width: 550px;
    min-height: 384px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (max-width: 320px) {
        width: auto;
        min-height: auto;
    }
}

.promo__title {
    padding: 0;
    margin: 0;
}

.promo__subtitle {
    padding: 15px 0 0;
    margin: 0;
    background-image: url('../img/peach-dot.png');
    background-repeat: no-repeat;
    background-position: 38% 10%;
}

.promo__main-text {
    padding: 30px 60px;
    margin: 15px 0 0;
}

.promo__button {
    margin: 0 auto;
}